###  TO DO


Breakdown of this notebook:

    Loading the dataset: Load the data and import the libraries.
    Data Cleaning:
        Deleting redundant columns.
        Renaming the columns.
        Dropping duplicates.
        Cleaning individual columns.
        Remove the NaN values from the dataset
        Some Transformations
    Regression Analysis
        Linear Regression
        Decision Tree Regression
        Random Forest Regression
    Data Visualization: Using plots to find relations between the features.
        Restaurants delivering Online or not
        Restaurants allowing table booking or not
        Table booking Rate vs Rate
        Best Location
        Relation between Location and Rating
        Restaurant Type
        Gaussian Rest type and Rating
        Types of Services
        Relation between Type and Rating
        Cost of Restuarant
        No. of restaurants in a Location
        Restaurant type
        Most famous restaurant chains in Bengaluru

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as  plt

## 1 Loading the dataset

Download the dataset from kaggle zomato.csv

In [2]:
df = pd.read_csv("../zomato.csv")
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

###  Data Cleaning

####  Removing redundant Columns for the data

Check which rows to delete from the dataframe which are reduntant for analysis

In [3]:
df.isnull().sum()

url                                0
address                            0
name                               0
online_order                       0
book_table                         0
rate                            7775
votes                              0
phone                           1208
location                          21
rest_type                        227
dish_liked                     28078
cuisines                          45
approx_cost(for two people)      346
reviews_list                       0
menu_item                          0
listed_in(type)                    0
listed_in(city)                    0
dtype: int64

remove dish_liked from dataframe as it contains more number of Nan entries

remove url and phone number as they dont provide any info

In [4]:
df.drop(columns = ['dish_liked','url','phone'],inplace = True)

In [5]:
df.head()

,address,name,online_order,book_table,rate,votes,location,rest_type,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,Banashankari,Casual Dining,"North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,Banashankari,Casual Dining,"Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,Banashankari,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,Banashankari,Quick Bites,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,Basavanagudi,Casual Dining,"North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

#### Renaming the columns

In [6]:
df.rename({"approx_cost(for two people)":'Cost',"menu_item":'Menu',"listed_in(type)":"Type","listed_in(city)":"City"},axis='columns',inplace = True)

In [7]:
df.columns

Index(['address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'location', 'rest_type', 'cuisines', 'Cost', 'reviews_list', 'Menu',
       'Type', 'City'],
      dtype='object')

#### Droping the duplicated rows

Removing the duplicated rows from the dataframe using "drop_duplicates" method

In [8]:
#first check how many duplicates are there using duplicated() which returns boolean series
#sum consider total number of True values whereas count finds the total number of values ,even it is True or Not
df.duplicated().sum()

43

In [9]:
df.drop_duplicates(inplace = True)

####  Droping the NaN values

In [10]:
#checking how many number of NaN values are present in a Particular column
df.isnull().sum()

address            0
name               0
online_order       0
book_table         0
rate            7767
votes              0
location          21
rest_type        227
cuisines          45
Cost             345
reviews_list       0
Menu               0
Type               0
City               0
dtype: int64

In [11]:
df.dropna(how='any',inplace = True)
df.shape
#more than 7k rows are removed alternativley we could

(43499, 14)

#### Applying transformations to columns

"Cost" column is of Object dtype and has comma between ,so to convert it to int or float we should first convert it into str dtype and replace ',' with white space

In [12]:
df.dtypes

address         object
name            object
online_order    object
book_table      object
rate            object
votes            int64
location        object
rest_type       object
cuisines        object
Cost            object
reviews_list    object
Menu            object
Type            object
City            object
dtype: object

In [13]:
df.Cost = df.Cost.str.replace(',','')
df.Cost = df.Cost.astype(int)

by data we can see only rate column with "/5" ,to find other unique values we can use data which doesnt contain "/5"

In [14]:
df[~df.rate.str.contains("/5")].rate.unique()

array(['NEW', '-'], dtype=object)

'rate' column has value like ["*/5" ,"New","-"] so to convert it to int we have to remove it or replace it some other value

In [15]:
df.rate = df.rate.str.replace("-","0") # assign "-" value with 0
df.rate = df.rate.str.replace("NEW","3") # assign "NEW" value rows with 3 or we can use mean of column as default 
df.rate = df.rate.str.replace("/5","")

In [16]:
df.rate = df.rate.astype(float)

In [17]:
df.dtypes

address          object
name             object
online_order     object
book_table       object
rate            float64
votes             int64
location         object
rest_type        object
cuisines         object
Cost              int32
reviews_list     object
Menu             object
Type             object
City             object
dtype: object

In [18]:
df.online_order.replace({'Yes':True,"No":False},inplace = True)
df.book_table.replace({'Yes':True,"No":False},inplace = True)

In [19]:
df.dtypes

address          object
name             object
online_order       bool
book_table         bool
rate            float64
votes             int64
location         object
rest_type        object
cuisines         object
Cost              int32
reviews_list     object
Menu             object
Type             object
City             object
dtype: object